.input-form { 
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: linear-gradient(rgb(74, 124, 240), rgb(138, 169, 242));
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
}

.input-group input:focus {
border-color: #658dea;
outline: none;
}

.input-form button {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 4px;
    background: #658dea;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.input-form button:hover {
    background: #0d3697;
} 
